<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css"
		  th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />

	<title>Registration</title>
</head>
<body>

<div layout:fragment="content" class="container">
	<h2>Donate! is a good day to help:). You are on admin page</h2>

	<p>
		Welcome <span sec:authentication="principal.username">User</span>
	</p>

	<div class="container">
		<a href="/admin/country/" id="myButton" class="float-left submit-button btn btn-success" >Countries</a>
		<a href="/admin/department/" id="myButton1" class="float-left submit-button btn btn-danger">Departments</a>
		<a href="/admin/document/" id="myButton2" class="float-left submit-button btn btn-warning" >Document types</a>
		<a href="/admin/institution/" id="myButton3" class="float-left submit-button btn btn-info" >Insituttions</a>


	</div>


</div>
<script type="text/javascript"
		th:src="@{/assets/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
		th:src="@{/assets/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>