<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css"
		  th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />

	<title>Registration</title>
</head>
<body>

<div layout:fragment="content" class="container">
	<h2>Donate! is a good day to help:). You are on user page</h2>

	<p>
		Welcome <span sec:authentication="principal.username">User</span>
	</p>
    <div class="container">
        <a href="/user/donate/" id="myButton" class="float-left submit-button btn btn-success" >Donar</a>
        <a href="/user/donate/all" id="myButton 2" class="float-left submit-button btn btn-warning">Ver donaciones</a>
    </div>



</div>

</body>
</html>